body
{
    background-color: #457B9D;
}
header
{
    width:1024;
    height:100;
    border:solid;
    border-width:2;
    background-color: #DCECFD;
    border-bottom-color: #DCECFD;
    border-top-color: #DCECFD;
    top:1%;

}
nav
{
    background: url("https://upload.wikimedia.org/wikipedia/en/4/47/Misc_clouds_santa_clarita.JPG")no-repeat;
    padding: 1em 0;
}
nav a
{
    text-decoration: none;
    color: #fff;
    padding: 1em;
    text-shadow: 2px 2px 1px rgba (0,0,0,0.7);
    transition: background 1s;
}
nav a:hover
{
    background: rgba(0,0,0,0.7);
}
#img1
{
    min-length: 500px;
    min-width: 500px;
    max-width:750px;
    max-height: 1000px;
    position:absolute;
    top:300px;
    left: 50px;
    border: solid white 3px;
}
.ptags
{
    position:absolute;
    top:300px;
    left:1200px;
    max-width:450px;
    color:white;
    border: dashed black 3px;
    background-color: #254B6D;
    padding:30px;
    box-shadow:0px 0px 5px  #2C2E2F;

}